.venv
venv
__pycache__
*.py[cod]
*.egg-info
.pytest_cache
.coverage
htmlcov
build
dist
.git
.gitignore
charts
reports
*.db
*.db-shm
*.db-wal
data/ephe/*.se1
data/cache
tests
**/__pycache__
.DS_Store
.idea
.vscode
